@charset "utf-8";
/* CSS Document */

#full_content
{
	padding-top:20px;
	padding-bottom:20px;
	width: 960px;
	overflow: hidden;
}

#menu
{
	width: 204px;
	height: 600px;
	float: left;
	margin-left:20px;
	
	/* IE10 Consumer Preview */ background-image: -ms-radial-gradient(center, ellipse farthest-side, #FFFFFF 0%, #D2D2D2 200%);
	/* Mozilla Firefox */ background-image: -moz-radial-gradient(center, ellipse farthest-side, #FFFFFF 0%, #D2D2D2 200%);
    /* Opera */ background-image: -o-radial-gradient(center, ellipse farthest-side, #FFFFFF 0%, #D2D2D2 200%); 
	/* Webkit (Safari/Chrome 10) */background-image: -webkit-gradient(radial, center center, 0, center center, 487, color-stop(0, #FFFFFF), color-stop(2, #D2D2D2)); /* Webkit (Chrome 11+) */ background-image: -webkit-radial-gradient(center, ellipse farthest-side, #FFFFFF 0%, #D2D2D2 200%);
	/* W3C Markup, IE10 Release Preview */ background-image: radial-gradient(ellipse farthest-side at center, #FFFFFF 0%, #D2D2D2 200%); 

	border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius:15px;
}

.content
{
	width: 490px;
	height: 600px;
	float:left;
	margin-left:20px;
	margin-right:20px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	
	-moz-box-shadow: -6px -9px 7px 1px #4c4c4c; 
	-webkit-box-shadow:-6px -9px 7px 1px #4c4c4c; 
	box-shadow: -2px 2px 7px 1px #4c4c4c; 
	

}
#main-content
{
	background-color: #f7f5ce;
}

#join-content
{
	background-color: #06C;
}



#right-content
{
	background-color:gray;
	width: 186px;
	height: 600px;
	float: left;
	margin-right:20px;
	
	
	border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius:15px;
}







#menu{
		/*box shadow, now has no shadow because inset means no*/
		/*attributes:vertical position, horizontal position, blur radius, spread radius */
	-moz-box-shadow: -6px -9px 7px 1px #4c4c4c; 
	-webkit-box-shadow:-6px -9px 7px 1px #4c4c4c; 
	box-shadow: -2px 2px 7px 1px #4c4c4c; 

	}

#menu a{
	font-size: 20px;
	padding-top: 10px;
	text-align:center;
	margin-left: 18%;
	margin-top: 20px;
}



/*****************************************/
/*********** BUTTON **********************/
/*****************************************/
.button {
	/*box shadow, now has no shadow because inset means no*/
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	
	/*gradient for the background of the button*/
	background:-o-linear-gradient(bottom, #f4f2f2 5%, #c6c4c4 100%);
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f4f2f2), color-stop(1, #c6c4c4) ); 
	background:-moz-linear-gradient( center top, #f4f2f2 5%, #c6c4c4 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#f4f2f2", endColorstr="#c6c4c4");
	background: -o-linear-gradient(top,#f4f2f2,c6c4c4);
	
	
	background-color:#ededed;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#777777;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding-top:4px;
	height: 23px;
	width:50px;
	text-align:center;
	text-decoration:none;
	
	text-shadow:1px 1px 0px #ffffff;
}.button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #c6c4c4), color-stop(1, #f4f2f2) );
	background:-moz-linear-gradient( center top, #c6c4c4 5%, #f4f2f2 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c6c4c4', endColorstr='#f4f2f2');
	background-color:#dfdfdf;
}.button:active {
	position:relative;
	top:1px;
}

#button_logout{
height:25px;
width:64px;
}

.button_menu
{
	padding:3px 5px;
	width: 110px;
	height: 30px;
	-moz-border-radius:50px;
	-webkit-border-radius:50px;
	border-radius:50px;
}


.button_header{
	height:25px;
	width:60px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	padding-top:0px;
	padding-bottom:-10px;
}