@charset "utf-8";
/* CSS Document */

#full_content
{
	width: 960px;
	overflow: hidden;
}

#menu
{
	width: 204px;
	height: 600px;
	float: left;
	margin-left:20px;
	
	/* IE10 Consumer Preview */ background-image: -ms-radial-gradient(center, ellipse farthest-side, #FFFFFF 0%, #D2D2D2 200%);
	/* Mozilla Firefox */ background-image: -moz-radial-gradient(center, ellipse farthest-side, #FFFFFF 0%, #D2D2D2 200%);
    /* Opera */ background-image: -o-radial-gradient(center, ellipse farthest-side, #FFFFFF 0%, #D2D2D2 200%); 
	/* Webkit (Safari/Chrome 10) */background-image: -webkit-gradient(radial, center center, 0, center center, 487, color-stop(0, #FFFFFF), color-stop(2, #D2D2D2)); /* Webkit (Chrome 11+) */ background-image: -webkit-radial-gradient(center, ellipse farthest-side, #FFFFFF 0%, #D2D2D2 200%);
	/* W3C Markup, IE10 Release Preview */ background-image: radial-gradient(ellipse farthest-side at center, #FFFFFF 0%, #D2D2D2 200%); 

	border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius:15px;
}

#content
{
	background-color: #f7f5ce;
	width: 490px;
	height: 600px;
	float:left;
	margin-left:20px;
	margin-right:20px;
}

#right-content
{
	background-color:gray;
	width: 186px;
	height: 600px;
	float: left;
	margin-right:20px;
	
	
	border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius:15px;
}











/*****************************************/
/*********** BUTTON **********************/
/*****************************************/
.login_button {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background-color:#ededed;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#777777;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding-top:4px;
	height: 23px;
	width:50px;
	text-align:center;
	text-decoration:none;
	text-shadow:1px 1px 0px #ffffff;
}.login_button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
	background-color:#dfdfdf;
}.login_button:active {
	position:relative;
	top:1px;
}

.button_logout{
height:23px;
width:1110px;
}

.menu_button {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background-color:#ededed;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#777777;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:3px 10px;
	text-decoration:none;
	text-shadow:1px 1px 0px #ffffff;
}.menu_button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
	background-color:#dfdfdf;
}.menu_button:active {
	position:relative;
	top:1px;
}